<form [formGroup]="occupationForm" (ngSubmit)="onSubmit()">
  <div class="wrapper">
    <div class="header">
      <app-button class="button-close" (click)="onClose()">
        <img src="./assets/close-img.png" alt="Close button" />
      </app-button>
    </div>
    <div class="content">
      <div *ngFor="let item of occupationsArray; let i = index">
        <app-radio
          id="occupation"
          [name]="item"
          [parentForm]="occupationForm"
          [formControlName]="'occupation'"
        />
      </div>
    </div>
    <div class="footer">
      <app-button
        class="button-primary"
        type="submit"
        [disabled]="!occupationForm.valid"
      >
        Сохранить
      </app-button>
      <app-button class="button-secondary" type="button" (click)="onClose()">
        Отмена
      </app-button>
    </div>
  </div>
</form>
